<h1>Hi, I'm Rahul</h1>
<h4>Your friendly neighborhood frontend developer, UX architect, and JavaScript engineer. I spend my days (and often nights) painting the Internet canvas with Projects and lines of code, turning zeroes and ones into immersive, interactive experiences,

Bona fide photochromic Lens enthusiast - sunlight or indoors, I've got it covered. I tread the path of minimalism, finding beauty in simplicity and order. When I'm not crafting beautiful web experiences, you can find me reading Articles or swaying to the rhythm of Pop Music & Jazz, losing myself in the captivating flow of melodies. </h4>
